@{
    Layout = null;

    var welcomeMessage = "Hello World";
    var seriesTitle = "The Amazing Spider-Man";
    var issueNumber = 700;
    var description = "<p>Final issue! Witness the final hours of Doctor Octopus' life and his one, last, great act of revenge! Even if Spider-Man survives... <strong>will Peter Parker?</strong></p>";
    var artists = new string[]
    {
        "Script: Dan Slott",
        "Pencils: Humberto Ramos",
        "Inks: Victor Olazaba",
        "Colors: Edgar Delgado",
        "Letters: Chris Eliopoulos"
    };
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h1>@welcomeMessage</h1>
		<h2>@seriesTitle</h2>
		<h3>Issue #@issueNumber</h3>
			
        <h5>Description</h5>
        <div>@Html.Raw(@description)</div>

		<h5>Artists:</h5>
		<div>
			<ul>
			@foreach(var artist in artists)
			{
			    <li>@artist</li>
			}
			</ul>
		</div>
			
    </div>
</body>
</html>
